<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MySocial Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let post of postToShow">
    <ion-card-content> <img src="{{post.imageUrl}}"> </ion-card-content>
    <ion-card-header>
      <ion-card-title>{{post.from}}</ion-card-title>
      <ion-card-subtitle>{{post.createdOn | date:'yyyy-MM-dd HH:mm:ss'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>{{post.message}}</ion-card-content>
  </ion-card>


</ion-content>